<div class="surface__side-bar">
   <img class="logo" src="../assets/img/Jtech1.png" />
   <div class="avatar-wrapper">
      <div class="avatar-wrapper--user-active"></div>
      <img class="avatar" src="../assets/img/default_photo.png" />
   </div>
</div>
<div class="surface">
   <div class="surface__app">
      <div class="surface__app--actions">
         <app-control></app-control>
      </div>
      <div class="surface__app--gantt">
         <div class="gantt-header">
            <div class="gantt-header__info-box">
               <div class="title">
                  <h2>Team Pnyx 2020</h2>
                  <h3 class="orange">Roadmap</h3>
               </div>
               <div class="pills">
                  <span>Days</span>
                  <span class="active">Weeks</span>
                  <span>Months</span>
               </div>
            </div>
         </div>
         <app-gantt></app-gantt>
      </div>
   </div>
</div>
